<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Our Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" text="Project-3/static/css/background.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

        <style>
          body{background: black;}
          .basic, 
          .autoplay{margin: 0 50px;}
          .basic div, 
          .autoplay div {width: 1200px;height: 200px;}
          img {width: 100%;}
      </style>
      </head>
    
    <body style="height:1500px" ></body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">SPOTLY</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="data.html">Data</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Trends 
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="dash90.html">1990</a></li>
                            <li><a href="dash00.html">2000</a></li>
                            <li><a href="dash10.html">2010</a></li>
                            <li><a href="dash19.html">2019</a></li>
                        </ul>
                    </li>
                    <li><a href="mlfindings.html">Findings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/sofiahorenstein/Project-3"><span class="glyphicon glyphicon-log-in"></span>  See the Code!</a></li>
                </ul>
            </div>
        </nav>

</body>
</html>