<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Feature Analysis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" text="Project-3/static/css/background.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/override-styles.css"/>

        <style>
          body{background: black;}
          .basic, 
          .autoplay{margin: 0 50px;}
          .basic div, 
          .autoplay div {width: 100%;height: 20%;}
          img {width: 100%;}
      </style>
      </head>
    
    <body style="height:1500px" ></body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="welcome.html">SPOTLY</a>
                </div>
                <ul class="nav navbar-nav ">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="features.html">Feature Analysis</a></li class>
                    <li><a href="ML.html">Machine Learning</a></li>
                    <li><a href="tableau.html">Trends</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Years 
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="1990.html">1990</a></li>
                            <li><a href="2000.html">2000</a></li>
                            <li><a href="2010.html">2010</a></li>
                            <li><a href="2019.html">2019</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/sofiahorenstein/Project-3"><span class="glyphicon glyphicon-log-in"></span>  See the Code!</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <section>
        <div class="table">
        <style type="text/css">
            table.tableizer-table {
                font-size: 12px;
                border: 1px solid #CCC; 
                font-family: Arial, Helvetica, sans-serif;
                color: white
            } 
            .tableizer-table td {
                padding: 3px;
                margin: 3px;
                border: 1px solid #CCC;
            }
            .tableizer-table th {
                background-color:#5BE2C7; 
                color:black;
                font-weight: bold;
            }
        </style>

        
        <table class="tableizer-table">
        <thead><tr class="tableizer-firstrow"><th>Key Value</th><th>Value Description</th></tr></thead><tbody>
         <tr><td>track</td><td>The name of the track.</td></tr>
         <tr><td>artist</td><td>The artists who performed the track.</td></tr>
         <tr><td>popularity</td><td>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.</td></tr>
         <tr><td>id</td><td>The Spotify ID for the track.</td></tr>
         <tr><td>acousticness</td><td>A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic. </td></tr>
         <tr><td>danceability</td><td>Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable. </td></tr>
         <tr><td>duration_ms</td><td>The duration of the track in milliseconds.</td></tr>
         <tr><td>energy</td><td>Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy.  Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy. </td></tr>
         <tr><td>instrumentalness</td><td>Predicts whether a track contains no vocals. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. </td></tr>
         <tr><td>key</td><td>The estimated overall key of the track. Integers map to pitches using standard Pitch Class notation . E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.</td></tr>
         <tr><td>liveness</td><td>Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. </td></tr>
         <tr><td>loudness</td><td>The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db. </td></tr>
         <tr><td>mode</td><td>Major is represented by 1 and minor is 0.</td></tr>
         <tr><td>speechiness</td><td>Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording, the closer to 1.0 the attribute value. </td></tr>
         <tr><td>tempo</td><td>The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration. </td></tr>
         <tr><td>time_signature</td><td>An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure).</td></tr>
         <tr><td>valence</td><td>A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive, while tracks with low valence sound more negative. </td></tr>
        </tbody></table>
    </div>
    <div class="row">
        <div class="column">
          <img src="boxplot1.jpeg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="boxplot_bottom.jpeg" alt="Mountains" style="width:100%">
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="column">
            <img src="boxplot_popularity_top.jpeg" alt="Mountains" style="width:100%">
          </div>
        <div class="column">
            <img src="boxplot_bottom_popularity.jpeg" alt="Mountains" style="width:100%">
          </div>